<rules>
  <rule name="trang-chu-2" stopProcessing="true">
    <match url="^trang-chu-2" />
    <action type="Rewrite" url="home/index2" />
  </rule>
  <rule name="trang-chu-test" stopProcessing="true">
    <match url="^trang-chu-test$" />
    <action type="Rewrite" url="home/index" />
  </rule>
  <rule name="trang-chu" stopProcessing="true">
    <match url="^trang-chu$" />
    <action type="Rewrite" url="home/index" />
  </rule>
  <rule name="trang-chu-365" stopProcessing="true">
    <match url="^trang-chu-365$" />
    <action type="Rewrite" url="home/index" />
  </rule>
</rules>
