@{
    Layout = "~/Views/Shared/_Layout_Cache.cshtml";
    ViewBag.Title = "TEST CACHE WITH BUNDLE";
        
    // Reference the modules this page needs.
    Bundles.Reference("scripts/module");
    Bundles.Reference("scripts/core");
    Bundles.Reference("scripts/core/test");
}

<h1>
    Bundle cache count -> @ViewBag.BundleCacheCount
</h1>
<div id="log">

</div>